.vscode/
Lab1/dirwalk
Lab4/program
Lab4/main.cpp
Lab5/lastUnluckyChance
Lab5/program
Lab6/genFile
Lab6/lab6
Lab6/outfile.bin
Lab6/prog.c
Lab6/program
Lab6/sortIndex
Lab6/temp
Lab7/func.o
Lab7/main.o
Lab7/program
Lab7/students.bin
Lab8/qwe/
Lab8/client
Lab8/info.txt
Lab8/server
Lab8/sym_link
Lab8/symsym_link
